//If text is longer than width-boundary, truncate it and add '...'
@mixin truncate($width-boundary) {
  max-width: $width-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//Vertically center elements
@mixin vertical-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

//Fade animations
@mixin fade($type) {
  @if $type== "hide" {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  } @else if $type== "show" {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
  }
}

@mixin fade-parent {}

@mixin loader-fade {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 1s;
}