@page
@model dotnet_scss_bem.Views.Scss.Intro

<div>
    <div class="container">
        <div class="bem-intro">
            <h1>B.E.M</h1>

            <h2 class="bem-intro__long-name">Block__Element--Modifier</h2>
            <ul class="bem-intro__list">
                <li class="bem-intro__list-item bem-intro__list-item--green">Is a popular CSS principle</li>
                <li class="bem-intro__list-item bem-intro__list-item--red">Helps scale your CSS work</li>
                <li class="bem-intro__list-item bem-intro__list-item--gray">Uses verbose namespaces to restrict CSS class overlap</li>
            </ul>
            <a class="bem-intro__link" target="_blank" href="http://getbem.com/introduction/">BEM website</a>
        </div>

        <hr/>

        <div class="row">
            <div class="col">
                <h4>Pros</h4>

                <ul>
                    <li>Less headache when CSS files get bigger</li>
                    <li>Clean and consistent way of writting/structuring CSS classes</li>
                    <li>Makes it easier to read complex HTML</li>
                </ul>
            </div>
            <div class="col">
                <h4>Cons</h4>

                <ul>
                    <li>Not straight-forward to apply in complex senrios</li>
                    <li>Easy to lose consistency</li>
                    <li>Long class names in CSS and HTML</li>
                    <li>Restricts some freedom</li>
                    <li>Class structure overhead ('Block' might not be important sometimes)</li>
                </ul>
            </div>
        </div>
    </div>


</div>