@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container home">
        <div class="row">
            <div class="col-6">
                    <a class="home__title" asp-controller="Scss" asp-action="Scss">
                        <h2>SCSS</h2>
                    </a>
                </div>
            <div class="col-6">
                <a class="home__title home__title--danger" asp-controller="Bem" asp-action="Bem">
                    <h2>BEM</h2>
                </a>
            </div>
        </div>
    </div>
</div>