@page
@model dotnet_scss_bem.Views.Scss.Intro

<div>
    <div class="container">
        <h1>What is Sass(Scss)?</h1>

        <div class="scss-intro-info">
            <h4 class="scss-intro-info__description">CSS == SASS == SCSS</h4>
            <ul>
                <li>Created 2006 as a 'better css'</li>
                <li>Is an extension and preprocessor (needs compiler) of CSS</li>
                <li>Uses <a href="https://en.wikipedia.org/wiki/Sass_(stylesheet_language)" target="_blank">two syntaxes</a> - .sass (older) & .scss</li>
                <li>Is a Turing complete language using CSS3 - i.e. handles business logic unlike html, json, etc...</li>
                <li>Supports importing, nesting, variables, mixins, and other stuff</li>
                <li> Is open-source</li>
            </ul>
        </div>

        <hr/>
        
        <div class="row">
            <div class="col">
                <h4>Pros</h4>
                
                <ul>
                    <li>Structured (less scoping-related issues)</li>
                    <li>Reduced css code</li>
                    <li>Easier to read</li>
                    <li>Functions and mixins are super handy</li>
                </ul>
            </div>
            <div class="col">
                <h4>Cons</h4>
                
                <ul>
                    <li>Need to install and run a Sass compiler like Compass, grunt, gulp, etc</li>
                    <li>Need Ruby</li>
                    <li>Huge pain if tons of business logic</li>
                </ul>
            </div>
        </div>
    </div>


</div>