@import "../configs/settings";
@import "../configs/colors";

.bem-intro {
  margin: 20px 0;

  .bem-intro__long-name {
    text-align: center;
  }

  .bem-intro__list {
    padding: 20px 0;

    .bem-intro__list-item {
      text-decoration: underline;

      &.bem-intro__list-item--green {
        color: $green-500;
      }

      &.bem-intro__list-item--red {
        color: $red-400;
      }

      &.bem-intro__list-item--gray {
        color: $booster-blue
      }
    }
  }

  .bem-intro__link {
    font-size: $font-sm;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid $gray-600;
    border-radius: 5px;
    padding: 5px;
    transition: box-shadow 100ms, transform 50ms;

    &:hover {
      text-decoration: none;
      box-shadow: 10px 5px 5px $gray-400;
    }

    &.bem-intro__link--hover-success {
      &:hover {
        color: $green-400;
      }
    }
    
    &:active {
      box-shadow: 6px 3px 5px $gray-400;
      transform: translateX(-50%) scale(0.96)
    }
  }
}