@import '../configs/colors';

.home {
  .home__title {
    display: block;
    text-align: center;

    &.home__title--danger {  //To use this class, the above class needs to be used too
      color: red;
    }
  }
}

.home {
  .home__title {
    &.home__title--danger {  //To use this class, the above class needs to be used too
      color: orange;
    }
  }
}