@import '../configs/colors';
@import '../components/mixins';

.button{
  transition: color 1s ease-in-out;
  color: #1b1e21;
  
  &.button--blue{
    color: $booster-blue;
    border-color: $booster-blue;
    @include truncate(20px);
    
    &:hover{
      background-color: $booster-blue;
      color: $white;
      border-color: $booster-blue;
    }
  }
  &.button--black{
    &:hover{
      color: $black;
    }
  }
}